*{
  box-sizing: border-box;
}
.mainWrapper {
  display: flex;
  overflow-x: hidden;
}
.mainWrapper2 {
  display: none;
  overflow-x: hidden;
}
.wrapperPhotos {
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  /* max-height: 800px; */
  display: flex;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}



.titleBlock {
  margin: 0 20px;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Staatliches', cursive;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: rgb(245, 245, 245);
  opacity: .8;
}

.titleBlock_mainTitle1 {
  color: #fff;
  font-size: 100px;
  align-self: center;
  margin: 0;
  margin-top: auto;
  line-height: 100px;
}

.titleBlock_mainTitle2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.largeSizeScreen {
  display: flex;
  width: 100%;
  height: 100%;
}
.column {
  width: 25%;
  overflow: hidden;
  
  /* flex: 1 2 auto; */
  /* display: flex; */

  /* flex-direction: column; */
};
.col {
  overflow: hidden;
}

.photoItem3 {
  display: none
}
.photoItem3 {
  transform: translate3d(0, 0, 0 );
  opacity: 0;
  
}
.active3 {
  transform: translate3d(-90px, 0, 0 );
  opacity: 0.5;
  transition: all 2s ease-in-out .2s;
}

.smallSizeImg {
  display: none;
}
@media screen and (max-width: 670px) {
  .column {
    width: 50%;
    height: 300px
  }
  .titleBlock_mainTitle1 {
    margin: auto 100px;
    font-size: 80px;
    line-height: 70px;
  }
}
@media screen and (max-width: 520px) {
  .column {
    height: 400px
  }
  .titleBlock_mainTitle1 {
    margin: auto 100px 0 100px;
    font-size: 65px;
    line-height: 50px;
  }
  
  .mainWrapper{
    display: none;
  }
  .mainWrapper2{
    display: flex;
  }
  .titleBlock {
    margin: 0;
  }
}