.howBlock {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  background-color: #520339;
  flex-wrap: wrap;
}
h2 {
  color: #fff;
}
.steps {
  display: flex;
  width: 100%;
}
.howBlock_step {
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.c1 {
  background-color: #13c2c2;
}
.c2 {
  background-color: #722ed1;
}
.c3 {
  background-color: #eb2f96;
}
.c4 {
  background-color: #fa541c;
}
.iconStyle {
  font-size: 32px;
}

.title {
  
  margin: 50px 0;
  /* position: absolute; */
  color: #fff;
  /* text-align: center; */

}
.arrow {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  right: 0;
}